<header class="ae-container-fluid ae-container-fluid--full rk-header">
  <input type="checkbox" id="mobile-menu" class="rk-mobile-menu">
  <label for="mobile-menu">
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
  </label>
  <div class="ae-container-fluid rk-topbar">
    <h1 class="rk-logo"><img src="../../../favicon.ico" height="30" width="30"><a routerLink="">{{infoService.info.title}}</a></h1> <!--<sup>tm</sup>-->
    <nav class="rk-navigation">
      <ul class="rk-menu">
        <li routerLinkActive="active" class="rk-menu__item"><a routerLink="home" class="rk-menu__link" (click)="deactivateMenu()">Home</a>
        </li>
        <li routerLinkActive="active" class="rk-menu__item"><a routerLink="services" class="rk-menu__link" (click)="deactivateMenu()">Services</a>
        </li>
        <li routerLinkActive="active" class="rk-menu__item"><a routerLink="about" class="rk-menu__link" (click)="deactivateMenu()">Contact me</a>
        </li>
      </ul>
    </nav>
  </div>
</header>