<div class="ae-container-fluid ae-container-fluid--inner rk-main">
  <div class="ae-grid au-xs-ta-center au-mb-4">
    <div class="animated fadeIn ae-grid__item item-lg-4 ae-kappa au-mb-3">
      <img src="assets/images/about.jpg" alt="" class="au-mb-3" style="border-radius: 5px;">
      <h5 class="ae-u-bolder au-mt-2">Carlos Bayarri Cebrecos</h5>
      <p class="ae-u-bolder au-mb-3">Developer</p>
    </div>
    <div class="animated fadeIn ae-grid__item item-lg-6 ae-kappa au-mb-3">
        <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">My name is Carlos and I am dedicated to software development in different programming languages and systems management based on GNU / LINUX.
            <br>I have always thought that I can contribute a lot to the world, so I founded my own company called CARTONATURA, with the aim of contributing to the geo, fauna, flora and environment world. I work managing and developing projects in Angular, Django and Node.
            <br>I also develop independent software for companies that need it of any kind, in order to improve their business and achieve their professional goals through the optimization of their technological resources.
            <br>Finally, as a graduate in Geomatics, I participate in Cartography, Surveying, Geodesy, Remote Sensing and Geographic Information Systems projects.
            <br>If anyone wants to know me better or include me in any project I invite you to use the next resources:</p>
    </div>
    <div class="animated fadeIn ae-grid__item item-lg-2 ae-kappa au-mb-3">
        <p class="au-flex au-pt-4 group-buttons">
            <a href="https://www.linkedin.com/in/carlos-bayarri/" class=" arrow-button arrow-button--right arrow-button--out">Connect with me through LinkedIn
              <span class="arrow-cont" style="margin-bottom: 0em;">
                <svg><use xlink:href="assets/img/symbols.svg#arrow"></use></svg>
              </span>
            </a>
        </p>
        <p class="au-flex au-pt-4 group-buttons">
            <a href="https://github.com/CarlosBayarri" class=" arrow-button arrow-button--right arrow-button--out">See my GitHub
              <span class="arrow-cont" style="margin-bottom: 0em;">
                <svg><use xlink:href="assets/img/symbols.svg#arrow"></use></svg>
              </span>
            </a>
        </p>
        <p class="au-flex au-pt-4 group-buttons">
            <a href="mailTo:bayarricebrecos@hotmail.com" class=" arrow-button arrow-button--right arrow-button--out">Send me an email about work
              <span class="arrow-cont" style="margin-bottom: 0em;">
                <svg><use xlink:href="assets/img/symbols.svg#arrow"></use></svg>
              </span>
            </a>
        </p>
    </div>
  </div>
</div>