<section *ngIf="product">
  <header style="position: relative;height: auto; min-height: 50vh; background-size: contain;" [ngStyle]="{'background-image': 'url(assets/images/op/' + id + '/main.jpg'}" class="rk-portfolio-cover  item-inside-1">
    <div class="item-inside__meta">
      <h1 class="ae-u-bolder rk-portfolio-title ">{{product.title}}</h1>
      <p class="ae-theta rk-portfolio-category ">{{product.type}}</p>
    </div>
  </header>
  <div  style="position: relative;" class="ae-container-fluid">
    <div class="ae-grid ae-grid--collapse rk-portfolio-info ">
      <div class="ae-grid__item item-lg-8 item-sm--center au-xs-ta-center au-lg-ta-left">
        <h2 class="rk-portfolio-inner-title ">{{product.subtitle}}</h2>
      </div>
      <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right rk-portfolio-details">
        <p class="rk-portfolio-inner-client "><span class="ae-u-bolder">{{product.team}}</span></p>
        <p class="ae-kappa ae-u-bold rk-portfolio-inner-date ">{{product.date}}</p>
      </div>
    </div>
  </div>
  <div  style="position: relative;padding-top: 15px;" class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
    <div class="work-entry">
      <div class="desc">
        <p class="read"><a [href]="product.github">&nbsp;View repo</a></p>
        <p class="read"><a [href]="product.view">&nbsp;View live&nbsp;</a></p>
      </div>
    </div>
  </div>
  <div  style="position: relative;" class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
    <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
      <div class="ae-grid__item item-lg-5 au-lg-ptp-1">
        <h4 class="ae-u-bolder">{{product.subtitle}}</h4>
        <p class="ae-eta">{{product.description1}}</p>
      </div>
      <div class="ae-grid__item item-lg-6 item-lg--offset-1"><img src="assets/images/op/{{id}}/pic-1.jpg" alt="Urku Portfolio"></div>
    </div>
    <div class="ae-grid ae-grid--collapse">
      <div class="ae-grid__item item-lg-8"><img src="assets/images/op/{{id}}/pic-2.jpg" alt="Urku Portfolio"></div>
      <div class="ae-grid__item item-lg-3 item-lg--offset-1 au-lg-ptp-1">
        <p>{{product.description2}}</p>
      </div>
    </div>
  </div>
</section>