<section>
    <header style="position: relative;height: auto; min-height: 40vh; background-size: contain;background-repeat: no-repeat;" [ngStyle]="{'background-image': 'url(assets/images/services-img-1.png'}" class="rk-portfolio-cover  item-inside-1">
      <div class="item-inside__meta">
        <h1 class="ae-u-bolder rk-portfolio-title "></h1>
        <p class="ae-theta rk-portfolio-category "></p>
      </div>
    </header>
    <div  style="position: relative;" class="ae-container-fluid">
      <div class="ae-grid ae-grid--collapse rk-portfolio-info ">
        <div class="ae-grid__item item-lg-8 item-sm--center au-xs-ta-center au-lg-ta-left">
          <h2 class="rk-portfolio-inner-title ">Services</h2>
        </div>
        <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right rk-portfolio-details">
          <p class="rk-portfolio-inner-client "><span class="ae-u-bolder">Carlos Bayarri Cebrecos</span></p>
          <p class="ae-kappa ae-u-bold rk-portfolio-inner-date "> </p>
        </div>
      </div>
    </div>
    <div  style="position: relative;padding-top: 15px;" class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
      <div class="work-entry">
        <div class="desc">
          <p class="read"><a href="https://github.com/CarlosBayarri">&nbsp;View repo</a></p>
        </div>
      </div>
    </div>
    <div  style="position: relative;" class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
        <h2>GRAPHIC DESIGN</h2>
      <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
        <div class="ae-grid__item item-lg-4 au-lg-ptp-1">
          <h4 id="services-gd-1" class="ae-u-bolder">UI Design / UX Design</h4>
            <p class="ae-eta"> UX (User Experience) refers to the way in which users interact with a product or service. 
                That is, how and for what a user uses an object or interacts with a web or app.</p>
            <p class="ae-eta">The UI (User Interface) design focuses on the visual part. 
                That is, if UX makes sure that a product is useful for users, UI makes it attractive and visual.
                Colors, typography, images are some of the elements with which the UI designer works to make a product attractive. But it is useless to have a beautiful product if it does not meet the needs of the users for whom it is intended. 
                Therefore, UX and UI must go hand in hand to achieve a product 100% designed for customers.</p>
        </div>
        <div class="ae-grid__item item-lg-7 item-lg--offset-1"><img src="assets/images/services/services-gd-1.jpg"></div>
      </div>
        <div class="ae-grid ae-grid--collapse">
            <div class="ae-grid__item item-lg-7"><img src="assets/images/services/services-gd-2.jpg"></div>
            <div class="ae-grid__item item-lg-4 item-lg--offset-1 au-lg-ptp-1">
                <h4  id="services-gd-2" class="ae-u-bolder">Website & Digital Design</h4>
                <p class="ae-eta">Web design is the process of creating websites. It encompasses several different aspects, including webpage layout, content production, and graphic design.</p>
            </div>
        </div>
        <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
            <div class="ae-grid__item item-lg-4 au-lg-ptp-1">
              <h4 id="services-gd-3" class="ae-u-bolder">Creativity & Imagination</h4>
                <p class="ae-eta"> While we are imagining we are free from the confines of reality. With imagination, we can hear music that doesn’t exist. We are free to visualize unreal things and can be or do anything. 
                    Imagination deals with ‘unreal’ thoughts that are free from the confines of reality, and creativity is the act of creating something in the real world usin the imagination.</p>
                <p class="ae-eta"> We can imagine any kind of feature that our software wants to have. I have said a lot to clients and colleagues: "You can do anything, as you want, anything you think or imagine can be done"</p>
            </div>
            <div class="ae-grid__item item-lg-7 item-lg--offset-1"><img src="assets/images/services/services-gd-3.jpg"></div>
          </div>
          <div class="ae-grid ae-grid--collapse">
            <div class="ae-grid__item item-lg-7"><img src="assets/images/services/services-gd-4.jpg"></div>
            <div class="ae-grid__item item-lg-4 item-lg--offset-1 au-lg-ptp-1">
                <h4  id="services-gd-4" class="ae-u-bolder">Strategic Thinking</h4>
                <p class="ae-eta">Strategic thinking is defined as a mental or thinking process applied by an individual in the context of achieving a goal or set of goals in a game or other endeavor. 
                    <br>Strategic thinking includes finding and developing a strategic foresight capacity for an organization, by exploring all possible organizational futures, and challenging conventional thinking to foster decision making today.</p>
            </div>
        </div>

    </div>
  </section>