
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$portfolio-angular-primary: mat-palette($mat-indigo);
$portfolio-angular-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$portfolio-angular-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$portfolio-angular-theme: mat-light-theme($portfolio-angular-primary, $portfolio-angular-accent, $portfolio-angular-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($portfolio-angular-theme);

/* You can add global styles to this file, and also import other style files */

/*
  Color del Loading
*/
svg path,
svg rect{
  fill: black;
}
.rk-mobile-menu + label {
  top: 4.5rem;
  left: 4.5vw;
}
.main-header {
  min-height: 500px;
}
.one-forth.services-img{
  height: auto;
}
.au-lg-ptp-1 {
  padding-top: 0;
}
@media (max-width: 63.99em) {
  .ae-container-fluid {
    padding-left: 2.75rem;
    padding-right: 2.75rem;
  }
  .main-header {
    min-height: auto;
  }
  .one-forth.services-img{
    height: 200px;
  }
}
.top-fixed .rk-header {
  z-index: 999;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
p { font-size: 1.225rem;}
