<footer class="ae-container-fluid rk-footer ">
  <div class="ae-grid ae-grid--collapse">
    <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-left">
      <p class="rk-footer__text rk-footer__copy "> <span class="ae-u-bold">© </span><span class="ae-u-bolder">{{anio}} CARLOS BAYARRI CEBRECOS </span>All Right Reserved.</p>
    </div>
    <div class="ae-grid__item item-lg-4 au-xs-ta-center">
        <a [href]="infoService.info.linkedin"><i class="icon-linkedin"></i></a>
    </div>
    <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right">
      <p class="rk-footer__text rk-footer__contact "> <span class="ae-u-bold">Email: </span><span class="ae-u-bolder"> <a href="mailTo:{{infoService.info.email}}" class="rk-dark-color ">{{infoService.info.email}} </a></span></p>
      <p class="rk-footer__text rk-footer__by"></p>
    </div>
  </div>
</footer>